.bg-main-color {
    background-color: #ff8731;
    font-weight: bold !important;
}

.btn-main-color {
    background-color: #ff8a39 !important;
    border: none !important;
}

.bg-title-color {
    background-color: #ff9d57;
}

.nav-link {
    color: black;
}
.nav-link.active {
    background-color: #ff8731 !important;
    color: #ffffff !important;
}
